lemming-spring/src/main/resources/META-INF/spring/lemming.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.iwouldbe.com/schema/lemming"
    xmlns:tns="http://www.iwouldbe.com/schema/lemming" elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />

    <!--注册中心lemming-registry -->
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="address" type="string" use="required" />
            <xsd:attribute name="protocol" type="string" use="required" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="context">
        <xsd:complexType>
            <xsd:attribute name="name" type="string" use="required" />
            <xsd:attribute name="app" type="string" use="required" />
            <xsd:attribute name="transport" type="string" use="required" />
        </xsd:complexType>
    </xsd:element>

    <!--引用接口lemming-task -->
    <xsd:element name="task">
        <xsd:complexType>
            <xsd:attribute name="taskId" type="string" use="required" />
            <xsd:attribute name="rule" type="string" use="optional" default="" />
            <xsd:attribute name="protocol" type="string" use="optional" default="" />
            <xsd:attribute name="taskImpl" type="string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>