lemming-spring/src/main/resources/META-INF/spring/lemming.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.iwouldbe.com/schema/lemming"
    xmlns:tns="http://www.iwouldbe.com/schema/lemming" elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />

    <!--注册中心lemming-registry -->
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="address" type="string" use="required" />
            <xsd:attribute name="protocol" type="string" use="required" />
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="context">
        <xsd:complexType>
            <xsd:attribute name="name" type="string" use="required" />
            <xsd:attribute name="app" type="string" use="required" />
            <xsd:attribute name="transport" type="string" use="required" />
        </xsd:complexType>
    </xsd:element>

    <!--引用接口beacon-reference -->
<!--     <xsd:element name="reference">
        <xsd:complexType>
            <xsd:attribute name="id" type="string" />
            <xsd:attribute name="interfaceName" type="string" />
            <xsd:attribute name="timeout" type="positiveInteger" default="3000" use="optional" />
            <xsd:attribute name="retry" type="nonNegativeInteger" default="0" use="optional" />
            <xsd:attribute name="check" type="boolean" default="false" use="optional" />
            <xsd:attribute name="tolerant" type="string" default="failfast" use="optional" />
            <xsd:attribute name="group" type="string" use="optional" />
        </xsd:complexType>
    </xsd:element> -->
 
    <!--引用接口lemming-task -->
    <xsd:element name="task">
        <xsd:complexType>
            <xsd:attribute name="taskId" type="string" use="required" />
            <xsd:attribute name="group" type="string" use="optional" default=""/>
            <xsd:attribute name="rule" type="string" use="optional" default=""/>
            <xsd:attribute name="protocol" type="string" use="optional" default=""/>
            <xsd:attribute name="taskImpl" type="string" use="required" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>